body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body .two-columns {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
}
body .three-columns {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  -o-column-count: 3;
}
body textarea {
  font-size: 125%;
  padding: 1em 2em;
}
body button {
  font-size: 125%;
}
.noselection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.long-text-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.hidden {
  display: none;
}
.overflow {
  overflow: hidden;
}
.center {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.pointer {
  cursor: pointer;
}
.inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.middle-align {
  vertical-align: middle;
}
.ptr {
  cursor: pointer;
}
.boxsz {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.vmiddle {
  vertical-align: middle;
}
.box-image-filter {
  -webkit-filter: blur(2px) grayscale(100%);
  -webkit-mask-box-image: -webkit-linear-gradient(#000 25%, transparent 35%, transparent 65%, #000 75%);
}
.box-image-sepia {
  -webkit-filter: sepia(100%);
}
.fs-8 {
  font-size: 8px !important;
}
.fs-10 {
  font-size: 10px !important;
}
.fs-11 {
  font-size: 11px !important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-32 {
  font-size: 32px !important;
}
@-moz-keyframes disapear {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  1% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes disapear {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  1% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes disapear {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  1% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes disapear {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  1% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes disapear {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  1% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes flip-page {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  60% {
    transform: rotate3d(0, 1, 0, -155deg);
    -webkit-transform: rotate3d(0, 1, 0, -155deg);
    -moz-transform: rotate3d(0, 1, 0, -155deg);
    -o-transform: rotate3d(0, 1, 0, -155deg);
  }

  99% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: none;
    z-index: 1500;
  }
}
@-webkit-keyframes flip-page {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  60% {
    transform: rotate3d(0, 1, 0, -155deg);
    -webkit-transform: rotate3d(0, 1, 0, -155deg);
    -moz-transform: rotate3d(0, 1, 0, -155deg);
    -o-transform: rotate3d(0, 1, 0, -155deg);
  }

  99% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: none;
    z-index: 1500;
  }
}
@-o-keyframes flip-page {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  60% {
    transform: rotate3d(0, 1, 0, -155deg);
    -webkit-transform: rotate3d(0, 1, 0, -155deg);
    -moz-transform: rotate3d(0, 1, 0, -155deg);
    -o-transform: rotate3d(0, 1, 0, -155deg);
  }

  99% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: none;
    z-index: 1500;
  }
}
@-ms-keyframes flip-page {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  60% {
    transform: rotate3d(0, 1, 0, -155deg);
    -webkit-transform: rotate3d(0, 1, 0, -155deg);
    -moz-transform: rotate3d(0, 1, 0, -155deg);
    -o-transform: rotate3d(0, 1, 0, -155deg);
  }

  99% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: none;
    z-index: 1500;
  }
}
@keyframes flip-page {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
  }

  50% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  60% {
    transform: rotate3d(0, 1, 0, -155deg);
    -webkit-transform: rotate3d(0, 1, 0, -155deg);
    -moz-transform: rotate3d(0, 1, 0, -155deg);
    -o-transform: rotate3d(0, 1, 0, -155deg);
  }

  99% {
    transform: rotate3d(0, 1, 0, -180deg);
    -webkit-transform: rotate3d(0, 1, 0, -180deg);
    -moz-transform: rotate3d(0, 1, 0, -180deg);
    -o-transform: rotate3d(0, 1, 0, -180deg);
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    display: none;
    z-index: 1500;
  }
}
@-moz-keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
.z6 {
  z-index: 6;
}
.z7 {
  z-index: 7;
}
.z8 {
  z-index: 8;
}
.z9 {
  z-index: 9;
}
.z10 {
  z-index: 10;
}
.z11 {
  z-index: 11;
}
.z12 {
  z-index: 12;
}
.z13 {
  z-index: 13;
}
.z14 {
  z-index: 14;
}
.z15 {
  z-index: 15;
}
.z16 {
  z-index: 16;
}
.z17 {
  z-index: 17;
}
.z18 {
  z-index: 18;
}
.z19 {
  z-index: 19;
}
.z20 {
  z-index: 20;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828));
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828));
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828));
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828));
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828));
  background-color: #000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.notifications {
  width: 100%;
  z-index: 9999;
  text-align: center;
}
.notifications .n-wrapper {
  width: 320px;
  padding: 0.3em 0.7em;
  display: inline-table;
  line-height: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.notifications .n-wrapper .icon,
.notifications .n-wrapper .message {
  display: table-cell;
}
.notifications .n-wrapper .icon {
  padding-left: 0.5em;
  width: 1em;
}
@media only screen and (max-width: 320px) {
  .notifications {
    font-size: 18px;
  }
}
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  display: table;
}
#popup .wrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#popup .wrapper .content {
  display: inline-block;
}
.avatar {
  vertical-align: middle;
  width: 2em;
  height: 2em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 0.1em solid #fff;
}
.avatar .big {
  font-size: 150%;
}
.sidebar-left {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 320px;
  font-size: 150%;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
  z-index: 10;
}
.sidebar-left,
.std {
  font-size: 16px;
}
.sidebar-left nav,
.std nav {
  margin-bottom: 4em;
}
.sidebar-left nav .group,
.std nav .group {
  border-left-style: solid;
  border-left-width: 3px;
}
.sidebar-left header,
.std header {
  padding: 0.5em 1em;
}
.sidebar-left .list .line,
.std .list .line {
  margin: 0 0.5em 0 3em;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  line-height: 1.5;
}
.sidebar-left .list .line.disabled,
.std .list .line.disabled {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
.sidebar-left .list .line .content,
.std .list .line .content {
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
}
.sidebar-left .list .line .content:hover,
.std .list .line .content:hover,
.sidebar-left .list .line .content:active,
.std .list .line .content:active {
  background-color: rgba(255,255,255,0.1);
}
.sidebar-left .icon,
.std .icon {
  position: absolute;
  left: 10px;
  line-height: 1.5;
  width: 1.6em;
  text-align: center;
}
.sidebar-left .num-value,
.std .num-value {
  position: absolute;
  right: 1.2em;
}
input[type="search"] {
  width: 90%;
  font-size: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  padding: 0.5em;
  color: inherit;
}
.ribn {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
}
article code {
  font-size: 180%;
  width: 320px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
pre {
  white-space: pre-wrap;
  padding: 10px;
}
main {
  position: absolute;
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 568px;
  font-size: 150%;
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-image: normalize('background-image', -moz-radial-gradient(#fff, #fffff0), webkit);
  background-image: normalize('background-image', -moz-radial-gradient(#fff, #fffff0), moz);
  background-image: normalize('background-image', -moz-radial-gradient(#fff, #fffff0), o);
  background-image: normalize('background-image', -moz-radial-gradient(#fff, #fffff0), ms);
  background-image: normalize('background-image', -moz-radial-gradient(#fff, #fffff0));
  background-image: normalize('background-image', -webkit-radial-gradient(#fff, #fffff0), webkit);
  background-image: normalize('background-image', -webkit-radial-gradient(#fff, #fffff0), moz);
  background-image: normalize('background-image', -webkit-radial-gradient(#fff, #fffff0), o);
  background-image: normalize('background-image', -webkit-radial-gradient(#fff, #fffff0), ms);
  background-image: normalize('background-image', -webkit-radial-gradient(#fff, #fffff0));
  background-image: normalize('background-image', -o-radial-gradient(#fff, #fffff0), webkit);
  background-image: normalize('background-image', -o-radial-gradient(#fff, #fffff0), moz);
  background-image: normalize('background-image', -o-radial-gradient(#fff, #fffff0), o);
  background-image: normalize('background-image', -o-radial-gradient(#fff, #fffff0), ms);
  background-image: normalize('background-image', -o-radial-gradient(#fff, #fffff0));
  background-image: normalize('background-image', -ms-radial-gradient(#fff, #fffff0), webkit);
  background-image: normalize('background-image', -ms-radial-gradient(#fff, #fffff0), moz);
  background-image: normalize('background-image', -ms-radial-gradient(#fff, #fffff0), o);
  background-image: normalize('background-image', -ms-radial-gradient(#fff, #fffff0), ms);
  background-image: normalize('background-image', -ms-radial-gradient(#fff, #fffff0));
  background-image: normalize('background-image', radial-gradient(#fff, #fffff0), webkit);
  background-image: normalize('background-image', radial-gradient(#fff, #fffff0), moz);
  background-image: normalize('background-image', radial-gradient(#fff, #fffff0), o);
  background-image: normalize('background-image', radial-gradient(#fff, #fffff0), ms);
  background-image: normalize('background-image', radial-gradient(#fff, #fffff0));
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', -moz-radial-gradient(#2f4f4f, #182828));
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', -webkit-radial-gradient(#2f4f4f, #182828));
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', -o-radial-gradient(#2f4f4f, #182828));
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', -ms-radial-gradient(#2f4f4f, #182828));
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828), webkit);
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828), moz);
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828), o);
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828), ms);
  background-image: normalize('background-image', radial-gradient(#2f4f4f, #182828));
  display: inline-block;
}
main header {
  padding: 0.5em 1em;
  background-color: #000;
  text-align: right;
  font-size: 125%;
}
main article {
  min-height: 100vh;
  background-color: #000;
}
main article .line {
  line-height: 1.8;
  color: rgba(34,34,34,0.75);
  background-color: rgba(255,255,240,0.9);
}
main article .line.br {
  border-bottom: 1px dashed rgba(0,0,0,0.3);
}
main article .line.tweet {
  padding: 5px 10px 5px 70px;
  font-size: 80%;
}
main article .line.tweet .link {
  color: #fa8072 !important;
}
main article .line.tweet .mention {
  color: #d144ff !important;
}
main article .line.tweet p.tweet-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
main article .line.tweet .avatar {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  float: left;
  margin-top: 3px;
  margin-left: -58px;
}
main article .line.stat {
  padding: 5px 50px 5px 60px;
}
main article .line.stat p {
  margin: 0;
}
main article .line.stat .icon {
  float: left;
  font-size: 1em;
  width: 2em;
  text-align: center;
  margin-left: -2em;
}
main article .line.stat .digit {
  float: right;
  color: #000;
  width: 3em;
  border-left: 1px dashed #808080;
  text-align: center;
  margin-right: -2em;
}
main article .line .hash-tag {
  color: rgba(72,118,255,0.8);
}
main article .line.disabled {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
}
main article .line .mount {
  padding: 0.5em 1em;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1em;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
main article .line .mount .actions {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
main article .line .mount .inline {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  width: 3em;
  text-align: center;
  line-height: 0.4;
  margin: 0 0.5em;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
main article .line .mount .inline > div {
  display: inline-block;
}
main article .line .mount .tip-text {
  font-size: 40%;
  font-variant: small-caps;
}
main article .line .mount .fa {
  font-size: 150%;
}
main article .line .mount .fa.inactive {
  color: #808080 !important;
}
main article .line .content {
  padding: 0.5em 1em;
  position: relative;
  z-index: 2;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main article .line .content textarea.text {
  background-color: transparent;
  padding: 0;
  font-size: inherit;
  color: inherit;
  border: none;
  width: 100%;
  -webkit-transition: normalize('transition', all 500ms ease-in-out, webkit);
  -moz-transition: normalize('transition', all 500ms ease-in-out, moz);
  -o-transition: normalize('transition', all 500ms ease-in-out, o);
  -ms-transition: normalize('transition', all 500ms ease-in-out, ms);
  transition: normalize('transition', all 500ms ease-in-out);
}
main .sliding-move {
  height: 60px;
  line-height: 60px;
  width: 100%;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  text-align: center;
  color: #333;
  position: absolute;
  top: 0;
  z-index: 1100;
}
main article .mount {
  background-color: #000;
}
main article.magenta .line .content {
  background-color: #d146ff;
}
main article.orange .line .content {
  background-color: #fe7105;
}
main article.magenta .line:nth-child(1) .content {
  background-color: #d34cff;
}
main article.orange .line:nth-child(1) .content {
  background-color: #fe760d;
}
main article.magenta .line:nth-child(2) .content {
  background-color: #d555ff;
}
main article.orange .line:nth-child(2) .content {
  background-color: #fe7d19;
}
main article.magenta .line:nth-child(3) .content {
  background-color: #d75dff;
}
main article.orange .line:nth-child(3) .content {
  background-color: #fe8324;
}
main article.magenta .line:nth-child(4) .content {
  background-color: #d966ff;
}
main article.orange .line:nth-child(4) .content {
  background-color: #fe8a30;
}
main article.magenta .line:nth-child(5) .content {
  background-color: #db6eff;
}
main article.orange .line:nth-child(5) .content {
  background-color: #fe903b;
}
main article.magenta .line:nth-child(6) .content {
  background-color: #dd76ff;
}
main article.orange .line:nth-child(6) .content {
  background-color: #fe9746;
}
main article.magenta .line:nth-child(7) .content {
  background-color: #df7fff;
}
main article.orange .line:nth-child(7) .content {
  background-color: #fe9d52;
}
main article.magenta .line:nth-child(8) .content {
  background-color: #e287ff;
}
main article.orange .line:nth-child(8) .content {
  background-color: #fea35d;
}
main article.magenta .line:nth-child(9) .content {
  background-color: #e490ff;
}
main article.orange .line:nth-child(9) .content {
  background-color: #feaa68;
}
main article.magenta .line:nth-child(10) .content {
  background-color: #e698ff;
}
main article.orange .line:nth-child(10) .content {
  background-color: #feb074;
}
main article.magenta .line:nth-child(11) .content {
  background-color: #e8a1ff;
}
main article.orange .line:nth-child(11) .content {
  background-color: #feb77f;
}
main article.magenta .line:nth-child(12) .content {
  background-color: #eaa9ff;
}
main article.orange .line:nth-child(12) .content {
  background-color: #ffbd8b;
}
main article.magenta .line:nth-child(13) .content {
  background-color: #ecb1ff;
}
main article.orange .line:nth-child(13) .content {
  background-color: #ffc496;
}
main article.magenta .line:nth-child(14) .content {
  background-color: #eebaff;
}
main article.orange .line:nth-child(14) .content {
  background-color: #ffcaa1;
}
main article.magenta .line:nth-child(15) .content {
  background-color: #f0c2ff;
}
main article.orange .line:nth-child(15) .content {
  background-color: #ffd1ad;
}
main article.magenta .line:nth-child(16) .content {
  background-color: #f2cbff;
}
main article.orange .line:nth-child(16) .content {
  background-color: #ffd7b8;
}
main article.magenta .line:nth-child(17) .content {
  background-color: #f4d3ff;
}
main article.orange .line:nth-child(17) .content {
  background-color: #ffddc4;
}
main article.magenta .line:nth-child(18) .content {
  background-color: #f6dbff;
}
main article.orange .line:nth-child(18) .content {
  background-color: #ffe4cf;
}
main article.magenta .line:nth-child(19) .content {
  background-color: #f8e4ff;
}
main article.orange .line:nth-child(19) .content {
  background-color: #ffeada;
}
main article.magenta .line:nth-child(20) .content {
  background-color: #faecff;
}
main article.orange .line:nth-child(20) .content {
  background-color: #fff1e6;
}
main article.magenta .line:nth-child(21) .content {
  background-color: #fcf5ff;
}
main article.orange .line:nth-child(21) .content {
  background-color: #fff7f1;
}
main article.magenta .line:nth-child(22) .content {
  background-color: #fffdff;
}
main article.orange .line:nth-child(22) .content {
  background-color: #fffefc;
}
main article.magenta .line:nth-child(23) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(23) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(24) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(24) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(25) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(25) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(26) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(26) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(27) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(27) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(28) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(28) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(29) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(29) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(30) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(30) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(31) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(31) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(32) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(32) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(33) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(33) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(34) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(34) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(35) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(35) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(36) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(36) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(37) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(37) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(38) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(38) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(39) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(39) .content {
  background-color: #fff;
}
main article.magenta .line:nth-child(40) .content {
  background-color: #fff;
}
main article.orange .line:nth-child(40) .content {
  background-color: #fff;
}
@media only screen and (max-width: 360px) {
  .sidebar-left {
    max-width: 360px;
    width: 360px;
  }
  .ribn-wrapper {
    width: 360px;
    height: 100vh;
    overflow: hidden;
  }
  input[type="search"] {
    width: 90%;
    font-size: 70%;
  }
  main {
    margin: 0;
    float: left;
    max-width: 360px;
    width: 360px;
  }
  main article .line .mount {
    font-size: 80%;
  }
  main article .line .mount .inline {
    margin: 0 0.3em;
  }
}
@media only screen and (max-width: 320px) {
  body {
    margin-top: 20px;
    background: #000;
  }
  .sidebar-left {
    max-width: 320px;
    width: 320px;
  }
  .ribn-wrapper {
    width: 320px;
    height: 100vh;
    overflow: hidden;
  }
  input[type="search"] {
    width: 90%;
    font-size: 70%;
  }
  main {
    margin: 0;
    float: left;
    max-width: 320px;
    width: 320px;
  }
  main article .line .mount {
    font-size: 80%;
  }
  main article .line .mount .inline {
    margin: 0 0.3em;
  }
}
@media only screen and (min-width: 960px) {
  main {
    left: 480px;
  }
}
span.tapp {
  width: 0.7em;
  height: 0.7em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  display: inline-block;
  margin: 0 0.4em;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
}
.flex-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
